{% extends "::layout.html.twig" %}

    {% block body %}

        <div class="jumbotron">
            <div class="container">

                <div class="row">


                    <div class="col-lg-3">
                        <img class="img-thumbnail"
                             src="https://pbs.twimg.com/profile_images/672404074474573824/sJyMOznQ.jpg"
                             style="height: 270px;"/>
                    </div>

                    <div class="bs-callout bs-callout-info col-lg-9">
                        <h1>Kitty Online</h1>
                        <p>The internet's #1 resource for stats about cats*</p>

                        <p><small>* Except, maybe, for Wikipedia, which is where these stats were stolen from</small></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container marketing">

            <div class="pull-right"><img class="img-thumbnail"
                                         src="https://pbs.twimg.com/profile_images/672404074474573824/sJyMOznQ.jpg"
                                         style="width: 500px; margin-left: 20px;"
                /></div>

            <h1>{{ kitty.name }}</h1>
            <h2>{{ kitty.breed.name }}</h2>
            <p>{{ kitty.bio }}</p>


        </div>

    {% endblock %}
