{% extends "::layout.html.twig" %}


    {% block body %}

        <div class="jumbotron">
            <div class="container">

                <div class="row">


                    <div class="col-lg-3">
                        <img class="img-thumbnail" src="https://pbs.twimg.com/profile_images/672404074474573824/sJyMOznQ.jpg" style="height: 270px;" />
                    </div>

                    <div class="bs-callout bs-callout-info col-lg-9">
                        <h1>Kitty Online</h1>
                        <p>The internet's #1 resource for stats about cats*</p>

                        <p><small>* Except, maybe, for Wikipedia, which is where these stats were stolen from</small></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container marketing">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading" id="about-kitty-online">Kitty Online. <span class="text-muted">The internet's #1 resource for stats about cats.</span>
                    </h2>
                    <p class="lead">Kitty Online is an example application to showcase how you can easily make vast
                        improvements to your PHP application performance by using <a href="http://blackfire.io">Blackfire.io</a>.
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block img-thumbnail" src="/images/luna/kitten_with_toy.jpg">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">Clone the repo. <span class="text-muted">It's on GitHub.</span></h2>
                    <p class="lead"><a href="https://github.com/nealio82/kitty-online-blackfire-demo">https://github.com/nealio82/kitty-online-blackfire-demo</a>.
                    </p>
                </div>
                <div class="col-md-5 col-md-pull-7">

                    <img class="featurette-image img-responsive center-block img-thumbnail" src="/images/luna/in_bed.jpg">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Follow the tutorial. <span
                                class="text-muted">Get profiling today.</span></h2>
                    <p class="lead">Profiling is scary if you're not quite sure what you're looking at. Kitty Online
                        will have you up-and-running in no time.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block img-thumbnail" src="/images/luna/in_a_tree.jpg">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->


            <!-- FOOTER -->

        </div>

    {% endblock %}
